#Aux:hover
{
  background-color:black;
}
#Aux2:hover
{
  background-color:gray;
}
body
{
  background-image: url("../Imagenes/Puente-de-Brooklyn-al-anochecer-Nueva-York-US.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 60px;
  background-attachment: fixed;
}
#Aux3
{
  background-color: white;
  margin-top: 30px;
}
#Aux4
{
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background-color: white;
  margin-top: 10px;
}
#Aux5:hover
{
  background-color:black;
  color: white;
}
#Aux6
{
  width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background-color: white;
  margin-top: 10px;
}

    