<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text=${titulo}>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/Estilo5.css}">

    </head>
    <body>
        <nav th:replace="plantilla/base::nav"></nav>
        <div class="container" id="Aux3">
            <div class="row text-center" , style="padding: 20px;">
                <h1 th:text=${titulo}></h1>
            </div>
        
        <div th:action="@{/Factura}" th:object="${ventas}" method="post" class="row" >
            <div style="display: flex;">
                <div class="col-xs-2">
                    <div class="titulo">Nro. Factura:       </div>
                </div>
                <div class="col-xs-2">
                    <div th:text="*{Id_venta}" ></div>
                </div>

            </div>
            <div style="display: flex;">
            <div class="col-xs-2" >
                <div class="titulo">Fecha Emision: </div>
                
            </div>
            <div class="col-xs-2">
                <div th:text="*{Fecha}" id="fechaemision"></div>
            </div>
            </div>
        </div>   
        <div class="row">
            <div style="display: flex;">
            <div class="col-xs-2">
                <div class="titulo">RUC Cliente:   </div>
            </div>
            <div class="col-xs-5">
                <div id="rucCliente">1032010343</div>
            </div>
        </div>
        </div>  
       
        <div class="row" >
            <div style="display: flex;">
                <div class="col-xs-2">
                    <div class="titulo">Telefono:      </div>
                </div>
                <div class="col-xs-2">
                    <div id="telefono">3008298941</div>
                </div>
            </div>   
            <div style="display: flex;">        
                <div class="col-xs-2">
                    <div class="titulo">Direccion:     </div>
                </div>
                <div class="col-xs-5">
                    <div id="direccion">Calle 19#43G-155</div>
                </div>
            </div> 
        </div>          
        <div class="row">
            <div style="display: flex;">  
                <div class="col-xs-2">
                    <div class="titulo">Nombres/Razon: </div>
                </div>
                <div class="col-xs-6">
                    <div id="razon">Juan Pablo Giraldo Tamayo</div>
                </div>
            </div>
        </div>    
        
        <table class="table table-bordered">
        <thead>
          <tr>
            <th><h4 class="titulo">&nbsp;&nbsp;&nbsp;Nombre&nbsp;&nbsp;&nbsp;</h4></th>
            <th><h4 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Descripcion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
            <th><h4 class="titulo">&nbsp;&nbsp;&nbsp;Cant.&nbsp;&nbsp;&nbsp;</h4></th>
            <th><h4 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;P.Unit.&nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
            <th><h4 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;Codigo&nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
            <th><h4 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subtotal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="producto: ${ventas.productos}">
                <th th:text="${producto.Nombre}" class="codigo"></th>
                <th th:text="${producto.Descripcion}" class="descripcion"></th>
                <th th:text="${producto.Cantidad}" class="cantidad izq"></th>
                <th th:text="${producto.Precio}" class="precio izq"></th>
                <th th:text="${producto.codigo}" class="descuento izq"></th>
                <th th:text="${producto.total}" class="subtotal izq"></th>
          </tr>
        </tbody>
      </table>
        <div class="row sinespacio">
            <div class="col-xs-3">
                <div id="blanco1"></div>
            </div>
            <div style="display: flex;">
                <div class="col-xs-3">
                    <div>Total A Pagar:   </div>
                </div>
                <div class="col-xs-3">
                    <div th:text="${ventas.total}" class="izq borde" id="totalSinImpto"></div>
                </div>  
            </div>        
        </div>
        
        <div class="row limpiar"></div>
        <div class="row">
            <div class="col-xs-8 titulopie">
                Debo y pagare incondicionalmente a la orden de _____ la cantidad de _________ en esra ciudad de MEDELLIN
                En  caso de  mora me  comprometo a  pagar el interes del _____ anual  desde su  vencimiento  hasta la 
                cancelacion  de  la  deuda. En  el evento de juicio me someto a los jueces de la ciudad de Quito y al 
                procedimiento  ejecutivo  o  verbal  sumario a eleccion de _____ sin protesto eximese de presentacion 
                para el pago y de aviso por falta del mismo. 
            </div>
        </div>
        <div div th:action="@{/Factura}" th:object="${ventas}" method="post" class="row" >
            <div style="display: flex;">
            <div class="col-xs-5 titulopie">
                MEDELLIN, </div>
            <div  class="col-xs-5 titulopie">
                <div th:text="*{Fecha}" ></div>
            </div>
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js" type=""></script>
  </body>
</html>